@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'SP';
  src: url(../FONTESP/SAO-PAULO-2024.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SP';
  background-color: #000000;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height:
    var(--tamanho-header);
  position: relative;
  padding-bottom: 10px;
}


.header::before,
.header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
}

.header::before {
  bottom: 6px;
  background-color: red;
}

.header::after {
  bottom: 0;
  background-color: rgb(255, 255, 255);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #ffffff;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
}

.titulo {
  color: #ffffff;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: rgb(255, 255, 255);
  background-image: url('Torcidadefundo.jpg');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #d3d3d3;
  display: flex;
  height: 600px;
}

.social .container {
  justify-content: center;
  border-color: #ffffff;
}
.box h4{
  margin: 5px;
}

.box img {
  width: 250px;
  height: 230px;
  border-color: #ff0000;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;

}

.box:hover {
  transform: scale(1.1);
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
  color: #ffffff;
  margin: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: 5px double red;
  width: 30%;
  border-radius: 10px;
  background-color: #570000;
}

/* FOOTER */

.footer {
  background-color: #000000;
  height: 75px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
  opacity: 90%;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('Torcidadefundo.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #3900007c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #ff0000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #ff0000;
  background-color: #ffffff;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  align-items: center;
  display: none;
  background-color: #fff;
  color: rgb(255, 0, 0);
  width: 230px;
  position: fixed;
  border-radius: 30px;
  border: #ff0000 3px solid;
  padding: 10px;
  margin-top: 33%;
  margin-right: 42%;
}

.card_erro #mensagem_erro {
  align-self: center;
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #ff0000;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.simulador .container {
  flex-direction: column;

  height: var(--tamanho-simulador);
}

.simulador .container p {
 margin: 10px;
}

.simulador .container h2 {
  margin: 10px;
 }

.simulador .container img{
 width: 400px;
 height: 300px;
 color: #ffffff;
 border: 1px double red;
 border-radius: 10px;
 margin-bottom: 50px;
}
 


/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: gray;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid black;
  /* creates padding around scroll thumb */
}

.corpo3 {
  background-color: #222222;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
}


.corpo3 img {
  width: 37%;
  color: #ffffff;
  border: 1px double red;
  border-radius: 10px;
  margin: 30px;
}

.corpo3 h1 {
  margin-bottom: auto;
  font-family: 'SP';
  color: #ffffff;
  font-size: 40px;
}

.txt span{
  margin-left: 15px;
}

.corpo3 .txt{
  margin: 30px;
}

.corpo3 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  margin: 2%;
  font-size: larger;
}

.corpo4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

.jogadores {
  display: flex;
  flex-direction: row;
}

.jogadores img {
  border: 1px double red;
  border-radius: 15px;
}

.corpo4 h1 {
  align-items: center;
  justify-content: center;


}


/* IDOLOS HTML */

.banner2 {
  height: var(--tamanho-banner);
  color: rgb(255, 255, 255);
  background-image: url('https://s2-ge.glbimg.com/CfNLbjVmwY1Lz0MmiTJUy4HgbzM=/0x0:1500x948/1008x0/smart/filters:strip_icc()/s.glbimg.com/es/ge/f/original/2013/12/10/saopaulo_campeaomundial_2005_get_95.jpg');
  background-size: cover;
}


.banner2 .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner2 .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner2 .container span {
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #222222;
  font-weight: 1000;
  font-size: larger;
}


.corpo3 img2 {
  width: 450px;
  height: 330px;
  border-color: #ff0000;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 170px;
  margin-left: 10px;

}

.banner3 {
  height: var(--tamanho-banner);
  color: rgb(255, 255, 255);
  background-image: url('banner4.jpg');
  background-size: cover;
}

.corpo32 {
  background-color: #222222;
  display: flex;
  height: 500px;
  align-items: center;
  flex-direction: row
}


.corpo32 img {
  width: 500px;
  height: 350px;
  border-color: #ff0000;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 170px;

}

.corpo32 h1 {
  margin-bottom: auto;
  margin-top: 6%;
  margin-left: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}

.corpo32 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  margin-right: 100px;
}

/* ESTADIO HTML */

.banner4 {
  height: var(--tamanho-banner);
  color: rgb(255, 255, 255);
  background-image: url('https://i.pinimg.com/originals/3b/25/a6/3b25a6ce2d357aa1c465bc92b024245d.jpg');
  background-size: cover;

}

.corpo10 {
  background-color: #570000;
  display: flex;
 width: 100%;
  align-items: center;
  flex-direction: row;
}
.corpo10 img {
  width: 500px;
  height: 350px;
  color: #ffffff;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
 margin: 30px;
}


.corpo10 h1 {
  margin-bottom: auto;
  margin-top: 6%;
  margin-left: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}

.corpo10 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  margin-right: 100px;
}

/* flipcard */

.corpo4 .flip-card {
  justify-content: space-between;
  align-items: center;
}

.flip-card {
  border-radius: 15px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin: 100px;
  margin-bottom: 10%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(130, 0, 0);
  color: white;
  transform: rotateY(180deg);
}

* { margin: 0; padding: 0; }

.corpo5 {
  background-color: #9c000080;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
}


.corpo5 img {
  width: 37%;
  color: #ffffff;
  border: 1px double red;
  border-radius: 10px;
  margin: 30px;
}

.corpo5 h1 {
  margin-bottom: auto;
  font-family: 'SP';
  color: #ffffff;
  font-size: 40px;
}

.corpo5 .txt{
  margin: 30px;
}

.corpo5 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  margin: 2%;
  font-size: larger;
}


.social2 {
  background-color: #d3d3d3;
  display: flex;
  height: 600px;
}

.social2 .container {
  justify-content: center;
  border-color: #ffffff;
}
.box2 h4{
  margin: 5px;
}

.box2 img {
  width: 250px;
  height: 250px;
  border-color: #ff0000;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;

}

.box2:hover {
  transform: scale(1.1);
}

.social2 .container .boxes2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
}

.social2 p {
  text-align: center;
  color: #ffffff;
  margin: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: 5px double red;
  width: 40%;
  border-radius: 10px;
  background-color: #570000;
}